.related-articles__up-next,
.related-articles__recommended {
  padding: 10px 15px;
  text-transform: uppercase;
}

//UP NEXT - LIST
.related-articles-up-next {
  padding: 0 0 25px;
}
.related-articles-up-next__title {
  padding: 10px 15px;
}
.related-articles-up-next__desc {
  padding: 0 15px;
}


//RECOMMENDED - LIST
.related-articles-recommended-list {
  list-style: none;
  padding: 0 15px;
  margin: 0;
}
.related-articles-recommended-list__item {
  margin: 0 0 20px;
  max-height: 25px;
}
.related-articles-recommended-list__item:nth-child(even) {
  @media screen and (min-width: 320px) {
    width: 45%;
    @include float-clear(right);
  }
}
.related-articles-recommended-list__item:nth-child(odd) {
  @media screen and (min-width: 320px) {
    width: 46%;
    @include float-clear(left);
  }
}
