@import '../vars';


.o-button-group {
  .o-button {
    border-radius: 0;
    margin-right: 0.1em;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      margin-right: 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
