@import '../vars';


.o-form-button {
  margin: 1em 0;

  &--success {
    color: $fg-success;
    background: $bg-success;
    border: 1px solid $border-success;
    pointer-events: none;
  }

  &--failure {
    color: $fg-failure;
    background: $bg-failure;
    border: 1px solid $border-failure;
    pointer-events: none;
  }
}
