@import '../vars';


.o-panel-header {
  display: block;
  width: 100%;
  background: $bg-primary;
  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &--failure {
    background: $bg-failure;
  }
}


.o-panel-body {
  padding: 0.618em 2em;
  background: $bg1;
  border: 1px solid $border0;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.o-panel-header__title {
  color: $fg-primary;
  padding: 0.5em 1em;
  margin: 0;
}
