
.profile-user-info__fieldset {
  padding: 10px 0;
}

.profile-user-info__label {
  text-transform: uppercase;
}

.profile-user-info__label,
.profile-user-info__heading {
  display: inline-block;
  margin: 0;
  padding: 0;
}
