.breadcrumbs--footer {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  text-transform: capitalize;;
}

.footer-breadcrumbs-list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}
.footer-breadcrumbs-list__item {
  display: inline-block;
  &:after {
    content: " / ";
    color: #BCC1C3;
    margin: 0 2px 0 5px;
    font-weight: 700;
  }
  &:last-child:after {
    content: " ";
    display: inline-block;
  }
}
.footer-breadcrumbs-list__anchor {
  color: #017AF5;
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
}
