{% raw %}
{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n staticfiles gravatar %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ block.super }}

    <!-- Load the API library.-->
    <script>
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

    <style>
        div[class^="table"]
        {
            border-radius: 5px;
            padding:10px;
            border:1px solid lightgray;
            box-shadow: 2px 2px 5px #888888;
        }

        /************** Chartjs CSS Styling ***************/

        .Chartjs {
          font-size: .85em;
        }

        .Chartjs-figure {
          height: 250px;
        }

        .Chartjs-legend {
          list-style: none;
          margin: 0;
          padding: 1em 0 0;
          text-align: center;
        }

        .Chartjs-legend > li {
          display: inline-block;
          padding: .25em .5em
        }

        .Chartjs-legend > li > i {
          display: inline-block;
          height: 1em;
          margin-right: .5em;
          vertical-align: -.1em;
          width: 1em;
        }

        @media (--break-md) {
          .Chartjs-figure {
            /* Add some breathing room. */
            margin-right: var(--gap);
          }
        }

    </style>

{% endblock %}

{% block titletag %}{% trans 'Analytics' %}{% endblock %}

{% block content %}
    {% trans "30 day analytics" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <h2>Sessions</h2>
        <div id="sessions-line-chart-container" class = "table" >Loading...</div>

        <br/>
        <h2>Popular content</h2>
        <div id="popular-pages-table-container" class = "table">Loading...</div>

        <br/>
        <h2>Top Cite Referrers</h2>
        <div id="top-referrers-table-container" class = "table">Loading...</div>

        <br/>
        <h2>Session OverView </h2>
        <div id="total-users-table-container" class = "table">Loading...</div>

        <br/>
        <h2>New Users (30 Days)</h2>
        <div id="users-table-container" class = "table">Loading...</div>

        <br/>
        <h2>Active Users</h2>
        <div id="active-users-table-container" class = "table">Loading...</div>

        <br/>
        <h2>Top Locations</h2>
        <div id="top-devices-table-container" class = "table">Loading...</div>

        <br/>
        <div class="Chartjs">
            <h2>This Week vs Last Week (by sessions)</h2>
            <figure class="Chartjs-figure" id="chart-1-container"></figure>
            <ol class="Chartjs-legend" id="legend-1-container"></ol>
        </div>
        <div class="Chartjs">
            <h2>This Year vs Last Year (by users)</h2>
            <figure class="Chartjs-figure" id="chart-2-container"></figure>
            <ol class="Chartjs-legend" id="legend-2-container"></ol>
        </div>

        <br/>
        <div class="Chartjs">
            <h2>Top Languages (by sessions)</h2>
            <figure class="Chartjs-figure" id="chart-3-container"></figure>
            <ol class="Chartjs-legend" id="legend-3-container"></ol>
        </div>

    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script>

    if (!window.google || !window.google.load)
    {
        var tag = document.createElement('script');
        tag.type = 'text/javascript';
        tag.src = 'https://www.google.com/jsapi';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tag, s);
    }

    gapi.analytics.ready(function() {

          $.get( "{% url 'wagalytics_token' %}", function(data) {
                gapi.analytics.auth.authorize ( {
                  'serverAuth': {
                  'access_token': data
                }
            })
          });

          // WEBSITE CURRENT SESSIONS

          var sessionsLineChart = new gapi.analytics.googleCharts.DataChart({
            query: {
              'ids': '{{ ga_view_id }}',
              'start-date': '30daysAgo',
              'end-date': 'today',
              'metrics': 'ga:sessions',
              'dimensions': 'ga:date'
            },
            chart: {
              'container': 'sessions-line-chart-container',
              'type': 'LINE',
              'options': {
                'width': '100%',
                'height': '200px',
              }
            }
          });
          sessionsLineChart.execute();

          // POPULAR CONTENT / MOST VISITED SITES

          var popularPagesTable = new gapi.analytics.googleCharts.DataChart({
            query: {
              'ids': '{{ ga_view_id }}',
              'start-date': '30daysAgo',
              'end-date': 'today',
              'metrics': 'ga:pageviews',
              'dimensions': 'ga:hostname,ga:pagePath',
              'sort': '-ga:pageviews',
              'max-results': 25
            },
            chart: {
              'container': 'popular-pages-table-container',
              'type': 'TABLE',
              'options': {
                'width': '100%',
                'page': 'enable',
                'pageSize': 5
              }
            }
          });
          popularPagesTable.execute();

           // PAGE REFERRERS

          var topReferrersTable = new gapi.analytics.googleCharts.DataChart({
            query: {
              'ids': '{{ ga_view_id }}',
              'start-date': '30daysAgo',
              'end-date': 'today',
              'metrics': 'ga:pageviews,ga:pageviewsPerSession',
              'dimensions': 'ga:fullReferrer,ga:country',
              'sort': '-ga:pageviews',
              'max-results': 25
            },
            chart: {
              'container': 'top-referrers-table-container',
              'type': 'TABLE',
              'options': {
                'width': '100%',
                'page': 'enable',
                'pageSize': 5
              }
            }
          });
          topReferrersTable.execute();

          // session overview
          // Sessions - Users - PageViews - Pages/Session  - Avg. Session Duration

          var OverView = new gapi.analytics.googleCharts.DataChart({
              query: {
                'ids': '{{ ga_view_id }}',
                'metrics': 'ga:sessions,ga:users,ga:pageviews,ga:pageviewsPerSession,ga:avgSessionDuration',
                'start-date': '2014-01-01',
                'end-date': 'yesterday',
              },
              chart: {
                'container': 'total-users-table-container',
                'type': 'TABLE',

                'options': {
                    'width': '100%',
                    'page': 'enable',
                    'pageSize': 5
                }
              }

          });
          OverView.execute();

         // 30 DAY USERS

          var users = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': '{{ ga_view_id }}',
                'start-date': '30daysAgo',
                'end-date': 'today',
                'metrics': 'ga:newUsers',
                'dimensions':'ga:deviceCategory,ga:country,ga:language',
            },
            chart: {
                'container': 'users-table-container',
                 'type': 'TABLE',
            }
          });
          users.execute();

          //ACTIVE USERS

          var activeUsers = new gapi.analytics.googleCharts.DataChart({
              query: {
                  'ids': '{{ ga_view_id }}',
                  'metrics':'ga:1DayUsers,ga:avgSessionDuration',
                  'dimensions':'ga:date',
                  'start-date':'yesterday',
                  'end-date':'today',
              },
              chart: {
                  'container':'active-users-table-container',
                  'type':'TABLE',
              },
              pollingInterval: 5,
          });
          activeUsers.execute();

          // ADD TOP LOCATIONS CHART DATA

          var renderTopLocationsChart = new gapi.analytics.googleCharts.DataChart({
              query:{
                'ids':'{{ ga_view_id }}',
                'start-date':'30daysAgo',
                'end-date':'today',
                'dimensions':'ga:country,ga:city',
                'metrics':'ga:pageviews',
                'sort':'-ga:pageviews',
              },
              chart:{
                'container':'top-devices-table-container',
                'type':'TABLE',
              },
            });
           renderTopLocationsChart.execute();

           // ADD TOP COUNTRIES PIE CHART

           function renderTopCountriesChart(ids) {
              query ({
                'ids': ids,
                'start-date':'30daysAgo',
                'end-date':'today',
                'dimensions': 'ga:country',
                'metrics': 'ga:sessions',
                'sort': '-ga:sessions',
                'max-results': 10
              })
              .then(function(response) {

                var data = [];
                var colors = ['#4D5360','#949FB1','#D4CCC5','#E2EAE9','#F7464A'];

                response.rows.forEach(function(row, i) {
                  data.push({
                    label: row[0],
                    value: +row[1],
                    color: colors[i]
                  });
                });

                new Chart(makeCanvas('chart-4-container')).Doughnut(data);
                generateLegend('legend-4-container', data);
              });
            };

            renderWeekOverWeekChart('{{ ga_view_id }}');
            renderYearOverYearChart('{{ ga_view_id }}');
            renderTopLanguagesChart('{{ ga_view_id }}');

           // WEEK OVER WEEK CHART

           function renderWeekOverWeekChart(ids) {

              // Adjust 'now' to experiment with different days, for testing only...

              var now = moment(); // .subtract(3, 'day');

              var thisWeek = query({
                       'ids': ids,
                       'dimensions': 'ga:date,ga:nthDay',
                       'metrics': 'ga:sessions',
                       'start-date': moment(now).subtract(1, 'day').day(0).
                                    format('YYYY-MM-DD'),
                       'end-date': moment(now).format('YYYY-MM-DD'),
              });

              var lastWeek = query ({
                       'ids': ids,
                       'dimensions': 'ga:date,ga:nthDay',
                       'metrics': 'ga:sessions',
                       'start-date': moment(now).subtract(1, 'day').day(0).
                                    subtract(1, 'week').format('YYYY-MM-DD'),
                       'end-date': moment(now).subtract(1, 'day').day(6).
                                    subtract(1, 'week').format('YYYY-MM-DD'),
              });

              Promise.all([thisWeek, lastWeek]).then(function(results) {

                  var data1 = results[0].rows.map(function(row) { return +row[2]; });
                  var data2 = results[1].rows.map(function(row) { return +row[2]; });

                  var labels = results[1].rows.map(function(row) { return +row[0]; });

                  labels = labels.map(function(label) {
                      return moment(label, 'YYYYMMDD').format('ddd');
                  });

                  var data = {
                      labels : labels,
                          datasets : [
                              {
                                label: 'Last Week',
                                fillColor : 'rgba(220,220,220,0.5)',
                                strokeColor : 'rgba(220,220,220,1)',
                                pointColor : 'rgba(220,220,220,1)',
                                pointStrokeColor : '#fff',
                                data : data2
                              },
                              {
                                label: 'This Week',
                                fillColor : 'rgba(151,187,205,0.5)',
                                strokeColor : 'rgba(151,187,205,1)',
                                pointColor : 'rgba(151,187,205,1)',
                                pointStrokeColor : '#fff',
                                data : data1
                              }
                          ]
                  };
                  new Chart(makeCanvas('chart-1-container')).Line(data);
                  generateLegend('legend-1-container', data.datasets);
              });
           } ; // end

           // YEAR OVER YEAR CHART

           function renderYearOverYearChart(ids) {

               var now = moment(); // .subtract(3, 'day');

               var thisYear =  query( {
                      'ids': ids,
                      'dimensions': 'ga:month,ga:nthMonth',
                      'metrics': 'ga:users',
                      'start-date': moment(now).date(1).month(0).format('YYYY-MM-DD'),
                      'end-date': moment(now).format('YYYY-MM-DD')
               });

               var lastYear = query ({
                       'ids': ids,
                       'dimensions': 'ga:month,ga:nthMonth',
                       'metrics': 'ga:users',
                       'start-date': moment(now).subtract(1, 'year').date(1).month(0)
                                    .format('YYYY-MM-DD'),
                       'end-date': moment(now).date(1).month(0).subtract(1, 'day')
                                   .format('YYYY-MM-DD')
               });

               Promise.all([thisYear, lastYear]).then(function(results) {

                  if ( results[0].rows && results[1].rows )
                  {
                   var data1 = results[0].rows.map(function(row) { return +row[2]; });
                   var data2 = results[1].rows.map(function(row) { return +row[2]; });
                   var labels = ['Jan','Feb','Mar','Apr','May','Jun',
                                 'Jul','Aug','Sep','Oct','Nov','Dec'];

                   // Ensure the data arrays are at least as long as the labels array.
                   // Chart.js bar charts don't (yet) accept sparse datasets.
                   for (var i = 0, len = labels.length; i < len; i++) {
                       if (data1[i] === undefined)
                            data1[i] = null;
                       if (data2[i] === undefined)
                            data2[i] = null;
                   }

                   var data = {
                       labels : labels,
                       datasets : [
                           {
                               label: 'Last Year',
                               fillColor : 'rgba(220,220,220,0.5)',
                               strokeColor : 'rgba(220,220,220,1)',
                               data : data2
                           },
                           {
                               label: 'This Year',
                               fillColor : 'rgba(151,187,205,0.5)',
                               strokeColor : 'rgba(151,187,205,1)',
                               data : data1
                           }
                       ]
                   };

                   new Chart(makeCanvas('chart-2-container')).Bar(data);
                   generateLegend('legend-2-container', data.datasets);
               }
             })
              .catch(function(err) {
                   console.error(err.stack)
                   });

            }; // end

            // ADD 'N' TOP LANGUAGES USED BY USERS TO ACCESS THE SITE

            function renderTopLanguagesChart(ids) {
              query ({
                'ids': ids,
                'start-date':'30daysAgo',
                'end-date':'today',
                'dimensions': 'ga:language',
                'metrics': 'ga:sessions',
                'sort': '-ga:sessions',
                'max-results': 10
              })
              .then(function(response) {

                var data = [];
                var colors = ['#4D5360','#949FB1','#D4CCC5','#E2EAE9','#F7464A'];

                response.rows.forEach(function(row, i) {
                  data.push({
                    label: row[0],
                    value: +row[1],
                    color: colors[i]
                  });
                });

                new Chart(makeCanvas('chart-3-container')).Doughnut(data);
                generateLegend('legend-3-container', data);
              });
            }; //end

          /* Extend the Embed APIs 'gapi.analytics.report.Data' component
           * to return a promise that is fulfilled with the value returned by the API.
           * @param {Object} params The request parameters.
           * @return {Promise} A promise.
           */
          function query(params) {
            return new Promise(function(resolve, reject) {
              var data = new gapi.analytics.report.Data({query: params});
              data.once('success', function(response) { resolve(response); })
                  .once('error', function(response) { reject(response); })
                  .execute();
            });
          }

          /**
           * Create a new canvas inside the specified element. Set it to be the width
           * and height of its container.
           * @param {string} id The id attribute of the element to host the canvas.
           * @return {RenderingContext} The 2D canvas context.
           */
          function makeCanvas(id) {
            var container = document.getElementById(id);
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');

            container.innerHTML = '';
            canvas.width = container.offsetWidth;
            canvas.height = container.offsetHeight;
            container.appendChild(canvas);

            return ctx;
          }

          /**
           * Create a visual legend inside the specified element based off of a
           * Chart.js dataset.
           * @param {string} id The id attribute of the element to host the legend.
           * @param {Array.<Object>} items A list of labels and colors for the legend.
           */
          function generateLegend(id, items) {
            var legend = document.getElementById(id);
            legend.innerHTML = items.map(function(item) {
              var color = item.color || item.fillColor;
              var label = item.label;
              return '<li><i style="background:' + color + '"></i>' +
                      escapeHtml(label) + '</li>';
            }).join('');
          }

          // Set some global Chart.js defaults.
          Chart.defaults.global.animationSteps = 60;
          Chart.defaults.global.animationEasing = 'easeInOutQuart';
          Chart.defaults.global.responsive = true;
          Chart.defaults.global.maintainAspectRatio = false;

          /**
           * Escapes a potentially unsafe HTML string.
           * @param {string} str An string that may contain HTML entities.
           * @return {string} The HTML-escaped string.
           */
          function escapeHtml(str) {
            var div = document.createElement('div');
            div.appendChild(document.createTextNode(str));
            return div.innerHTML;
          }

    });  // Analytics API Ends

    </script>

{% endblock %}
{% endraw %}
