//Form input could not be overridden by class - hence the id
#search__input-standard {
  border-radius: 0;
  border: 1px solid #000;
}
#input__semi-round {
  border-radius: 5px;
}
#input__round {
  border-radius: 20px;
}
#input__none {
  border-radius: 0;
}

.call-to-action {
    &__item {
        &--search {
          background: #fff;
          color: #666666;
          border: 1px solid #D0D0D0;
          text-align: center;
          font-size: 12px;
          margin: 0 auto;
          padding: 5px;
          &-icon {
            display: block;
            @media screen and (min-width: 320px) {
              background-color: transparent;
              background-image: url(/static/img/icons/icons.svg), url(/static/img/icons/icons.png);
              background-repeat:  no-repeat;
              background-position: 100% 0;
              background-size: auto 98%;
              right: 3%; //Check which media-query style does this belong
            }
          }
          &-icon-bg {
            border-radius: 0;
            @media screen and (min-width: 320px) {
              background-color: #000;
              background-image: url(/static/img/icons/icons.svg), url(/static/img/icons/icons.png);
              background-repeat:  no-repeat;
              background-position: 12px 10px;
              background-size: auto 60%;
              right: 10%;
              top: 10px;
              right: 10%;
              top: 10px;
              height: 39px;
              width: 45px;
            }
          }
        }
    }
}
