sudo: false
language: python
services:
  - elasticsearch
python:
  - "2.7"
env:
  - COVERAGE=true TEST_RUNNER="py.test"
matrix:
  include:
    - python: pypy
      env: COVERAGE=false TEST_RUNNER="py.test" PYPY_VERSION="5.3.1"
    - node_js: "5.6.0"
      python: "2.7"  # no python version confuses travis
      env: COVERAGE=false NODE=1 TEST_RUNNER="cd client; npm run ci"
cache:
  - pip
  - directories:
    - $HOME/.pyenv_cache
before_install:
  - |
      if [[ -n "$PYPY_VERSION" ]]; then
        wget https://github.com/praekeltfoundation/travis-pypy/releases/download/0.1.0/setup-pypy.sh
        source setup-pypy.sh
      fi
install:
  - pip install --upgrade pip
  - pip install -e .
  - pip install -r requirements-dev.txt
  - if [[ "$COVERAGE" == "true" ]]; then pip install coveralls; fi
  - '[[ -z $NODE ]] || (cd client; travis_retry npm install)'
script:
  - flake8 molo
  - molo scaffold testapp
  - cp molo/core/test_templates/section_page.html testapp/testapp/templates/core/section_page.html
  - flake8 testapp
  - pip install -e testapp
  - if [[ "$COVERAGE" == "true" ]] && [[ "$TEST_RUNNER" == "py.test" ]]; then COVERAGE_OPT="--cov"; fi
  - bash -c "$TEST_RUNNER $COVERAGE_OPT"
after_success:
  - if [[ "$COVERAGE" == "true" ]]; then coveralls; fi
deploy:
  provider: pypi
  user: Praekelt
  password:
    secure: TrR3EF0bUSLZFjvfp62Jjjc+d0HTjXRR5BGoM7K1ON4buyyq3AGj8Fvc20d8CN/jcpqnibj+L3MNZnFkgEjsCy7GRav42QTVtQPj5Sorodp8qM7e329do6VAtO3iL6uoG258gYD0oqM0PZjlZurGZjksI7P/IsaZXeFh2I4NyS5Dy/m9f1zhzo5fS4H5oOpK8ohTPe3l9yRBXHteaAZYSrC8pc05U82iSaiWY4RbtJfxB2lPsxTJCh7nrjsyOu+jOubxuandve6YrKnCdpb2JQaPOeSBVpxHxhlf47MTTp5Q4DCO0DLA+kDoBZ1aEkM5gULQihjrKRtmbbXr0AmA+KEVdtZ9KySkmZB8W4lJfz+nyhxvKYEujNKoRYsxLBb5Nxxs/wuy/JTSJBQwdxDff8Yqz0o0N4xsMRy389o06QpE1ARqXpNE7+JSODyZT4ojTMVSmuU2CpwxDSR5L6ZA61nhDECoGe39HLgXiB/LTXgLxCt8O41u+gNQwGbE0iL22C1hPrkT5qWgP6YoMIK8PvpJAw2PVlxnaGZISljPQmV5txBSfi8h7u+wPnRJIVqgaWiM9mM27LhjZnMKPUqIspkMEvc0YoAJ6QYRPsATEUMlZIg+U+FCeSlALNd1cCzxiritPPNOYw9JG2PVACLtnmxhe1L9ILVg48t4loeHxUc=
  on:
    tags: true
    all_branches: true
