sudo: false
language: python
services:
  - elasticsearch
python:
  - "2.7"
  - "pypy"
env:
  - COVERAGE=true TEST_RUNNER="py.test"
  - COVERAGE=false TEST_RUNNER="py.test"
matrix:
  exclude:
    - python: "pypy"
      env: COVERAGE=true TEST_RUNNER="py.test"
    - python: "2.7"
      env: COVERAGE=false TEST_RUNNER="py.test"
  include:
    - node_js: "5.6.0"
      python: "2.7"  # no python version confuses travis
      env: COVERAGE=false NODE=1 TEST_RUNNER="cd client; npm run ci"
cache:
  directories:
    - $HOME/.pip-cache/
install:
  - pip install --upgrade pip --cache-dir $HOME/.pip-cache/
  - pip install coveralls coverage --cache-dir $HOME/.pip-cache/
  - pip install flake8 --cache-dir $HOME/.pip-cache/
  - pip install "Django >=1.8,<1.9"
  - pip install -r requirements-dev.txt --cache-dir $HOME/.pip-cache/
  - pip install -e . --cache-dir $HOME/.pip-cache/
  - '[[ -z $NODE ]] || (cd client; travis_retry npm install)'
script:
  - flake8 molo
  - molo scaffold testapp
  - cp molo/core/test_templates/section_page.html testapp/testapp/templates/core/section_page.html
  - flake8 testapp
  - pip install -e testapp
  - bash -c $TEST_RUNNER
after_success:
  - coveralls
deploy:
  provider: pypi
  user: Praekelt
  password:
    secure: TrR3EF0bUSLZFjvfp62Jjjc+d0HTjXRR5BGoM7K1ON4buyyq3AGj8Fvc20d8CN/jcpqnibj+L3MNZnFkgEjsCy7GRav42QTVtQPj5Sorodp8qM7e329do6VAtO3iL6uoG258gYD0oqM0PZjlZurGZjksI7P/IsaZXeFh2I4NyS5Dy/m9f1zhzo5fS4H5oOpK8ohTPe3l9yRBXHteaAZYSrC8pc05U82iSaiWY4RbtJfxB2lPsxTJCh7nrjsyOu+jOubxuandve6YrKnCdpb2JQaPOeSBVpxHxhlf47MTTp5Q4DCO0DLA+kDoBZ1aEkM5gULQihjrKRtmbbXr0AmA+KEVdtZ9KySkmZB8W4lJfz+nyhxvKYEujNKoRYsxLBb5Nxxs/wuy/JTSJBQwdxDff8Yqz0o0N4xsMRy389o06QpE1ARqXpNE7+JSODyZT4ojTMVSmuU2CpwxDSR5L6ZA61nhDECoGe39HLgXiB/LTXgLxCt8O41u+gNQwGbE0iL22C1hPrkT5qWgP6YoMIK8PvpJAw2PVlxnaGZISljPQmV5txBSfi8h7u+wPnRJIVqgaWiM9mM27LhjZnMKPUqIspkMEvc0YoAJ6QYRPsATEUMlZIg+U+FCeSlALNd1cCzxiritPPNOYw9JG2PVACLtnmxhe1L9ILVg48t4loeHxUc=
  on:
    tags: true
    all_branches: true
