include LICENSE
include README.rst
include CHANGES.rst
include VERSION
include MANIFEST.in
include requirements-dev.txt
include package.json

recursive-include molo/core/static *
recursive-include molo/core/styles *
recursive-include molo/core/templates *

graft molo/core/cookiecutter

recursive-include docs *
prune docs/build

global-exclude __pycache__
global-exclude *.py[co]
