include LICENSE
include README.rst
include CHANGES.rst
include VERSION
include MANIFEST.in
include requirements.txt
include requirements-dev.txt
recursive-include molo LICENSE VERSION *.py *.txt *.scss *.css *.js *.html *.json *.yml *.yaml *.rst *.in *.sh *.gitignore *.cfg
