Django>=1.9,<1.10
cookiecutter==1.0.0
psycopg2cffi
raven==5.0.0
markdown
django-libsass
certifi
dj-database-url
django-cas-ng==3.5.3
django-mptt
requests
elastic-git
unicore.content
wagtail==1.4.4
responses
babel
wagtailmodeladmin
django-extensions
django-celery
redis
