{% extends "mote/base.html" %}
{% block hero %}
    <div class="background"></div>
    <div class="foreground">
       <h3>Molo Design System</h3>
        <h1>Markup and Style Patterns</h1>
    </div>
{% endblock %}
{% block menu-desc %}
  <h5>Menu:</h5>
{% endblock %}
{% block menu %}
  <ul role="menu" class="vertical tier-1" id="sidebar-nav">
  {% for pattern in aspect.patterns %}
    <li role="menuitem">
      {% url "mote:pattern" project=aspect.project.id aspect=aspect.id pattern=pattern.id as the_url%}
      <a href="{{ the_url }}" {% if request.path_info == the_url %}class="active"{% endif %}>{{ pattern.title }}</a>
      <ul role="menu" class="vertical tier-2">
          {% for element in pattern.elements %}
          <li role="menuitem">
              <a href="{% url "mote:element-index" project=aspect.project.id aspect=aspect.id pattern=pattern.id element=element.id %}">{{ element.title }}</a>
          </li>
          {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
