
.breadcrumbs {
  font-family: 'Quicksand', sans-serif;
  border-buttom: 1px #e7e7e7 solid;
  padding: 10px 15px 10px 5px;
  font-size: 13px;
  text-transform: uppercase;
}
.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-list__item {
  display: inline-block;
  &:after {
    content: " > ";
    color: #777;
    margin: 0 2px 0 5px;
    font-weight: 700;
  }
  &:last-child:after {
    content: " ";
    display: inline-block;
  }
}
.breadcrumbs-list__anchor {
  color: #777;
  font-weight: 700;
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
}
