.call-to-action {
  font-family: 'Quicksand', sans-serif;
  padding: 10px 0;
}

.call-to-action__item {
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin: 10px 0;
  display: block;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.call-to-action__item-text {
  padding: 5px 0;
  &:hover {
    color: #686A6B;
  }
}
.call-to-action__item-text-upper {
  text-transform: uppercase;
  @media screen and (min-width: 320px) {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.call-to-action__item-button {
  padding: 10px 15px;
  background: none;
  border: none;
  @media screen and (min-width: 320px) {
    background: #000;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
  }
  &:hover {
    color: #A4AAAD;
  }
}


.call-to-action__item-button--dir {
  border: 1px solid #000;
  padding: 10px 30px;
  text-transform: capitalize;
  background: #fff;
  font-size: $font-xx-small;
  @media screen and (min-width: 320px) {
    border: 1px solid #017AF5;
    color: #017AF5;
    margin-right: 35px;
  }
  &:hover {
    border-color: #686A6B;
  }
}

.call-to-action__item-button--secondary {
  background: #fff;
  font-size: 14px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  @media screen and (min-width: 320px) {
    border: 2px solid blue;
    color: blue;
    text-align: center;
    text-decoration: none;
  }
  &:hover {
    border-color: #686A6B;
  }
}

input[type="submit"],
.call-to-action__item-button--login {
  padding: 0;
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  @media screen and (min-width: 320px) {
    padding: 10px 30px;
  }
}

.call-to-action__item--search-submit {
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 14px;
  padding: 10px 25px 10px 10px;
  text-decoration: underline;
  text-transform: uppercase;
  @media screen and (min-width: 320px) {
    background:  url('/images/icons/search.svg') no-repeat 0 0 / auto 100%;
    text-indent: -99em;

    height: 21px;
    width: 21px;
    position: absolute;
    right: 10%;
    top: 35%;
  }
}

[data-direction~="right"]  {
  &:after {
    display: inline-block;
    padding-left: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: ">";
    }
    @media only screen and (min-width: 490px) {
      content: "❯";
    }
  }
}
[data-direction~="left"]  {
  &:before {
    display: inline-block;
    padding-right: 10px;
    text-decoration: none !important;
    @media only screen and (min-width: 320px) {
      content: "<";
    }
    @media only screen and (min-width: 490px) {
       content: "❮";
    }
  }
}

[data-state~="disabled"] {
  font-weight: bold;
  background-color: #D7DBDD;
}
