.nav-menu-list--horizontal {
  margin: 0 auto;
}
.nav-menu-list__item--horizontal  {
  display: inline-block;
  border: none;
  color: #07292F;
  padding: 5px 0;
  font-size: 12px;
}

.nav-menu-list__anchor--horizontal {
  text-transform: capitalize;
}
