
{% raw %}
{% extends "mote/element/index.html" %}
{% load mote_tags %}

{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Article Teaser
    </h4>
    <div class="description">
      Article Teaser Description
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->

<div class="sg-code-block">
    <h4 class="title">
      Grid Article Teaser
    </h4>
    <div class="description">
      Article Teaser Description
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.basics.article-teaser.grid-teaser-title %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->


<div class="sg-code-block">
    <h4 class="title">
      Carousel Teaser
    </h4>
    <div class="description">
      Article Teaser Description
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->

<div class="sg-code-block">
    <h4 class="title">
      Base Teaser Thumbnail
    </h4>
    <div class="description">
      Article Teaser Description
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->

<div class="sg-code-block">
    <h4 class="title">
      Carousel Teaser Thumbnail
    </h4>
    <div class="description">
      Article Teaser Description
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
{% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
                </xmp>
            </code>
        </pre>
    </div>
    <!-- code-example -->
</div>
<!-- sg-code-block -->
{% endblock %}
{% endraw %}
