//Content Wrapper Results
/**
NOTE: Difference in Tables classes:
      .result-list.col9 and .result_list.col9
*/
.fixed {
    background: #fafafa;
    top: 0;
    position: fixed;
    width: auto;
    border: none;
    display: none;
    will-change: contents;
}
.content-wrapper {
  border: none;

  ::-webkit-scrollbar {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 5px !important;
  }

  header.fixed-header {
      position: fixed;
      min-width: 100%;
      z-index: 99;
  }
  .result_list.col9,
  .result-list.col9  {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    .content__results-table-wrapper {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        will-change:scroll-position;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }
    table.content__results-table {
        margin: 6.7em 0 0;
        width: 100%;
        thead, tbody {
            text-align: left;
        }
    }

    table.listing,
    .listing.full-width {
        tr {
            width: 100%;
            &:first-child {
                border-top: none;
            }
        }
        thead {
            th {
                &:first-child {
                  padding: 0.6em 0 5px 10px;
                }
            }
        }
    }
    .content__tbody {
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        will-change:scroll-position;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        td {
            &:first-child {
                padding-left: 10px;
            }
            img {
              vertical-align: text-top;
            }
        }
    }
  }
}
@media screen and (min-width: 781px) {
  .content-wrapper {
    width: 87.3%;
    .result_list.col9,
    .result-list.col9 {
      width: 100%;
    }
  }
}

@media screen and (min-width: 50em)  {
  .content-wrapper {
    .result_list.col9,
    .result-list.col9 {
      float: left;
    }
  }
}
@media screen and (min-width: 1200px) {
  .content-wrapper {
    .result_list.col9,
    .result-list.col9 {
      width: 80%;
    }
  }
}
