//Content Wrapper Results
/**
NOTE: Difference in Tables classes:
      .result-list.col9 and .result_list.col9
*/
.content-wrapper {
  border: none;
  //Start Update
  header.hasform {
      position: fixed;
      min-width: 100%;
      z-index: 9999;
  }
  .content__results-table-wrapper {
      //overflow: scroll;
      //height: 80vh;
  }
  table.content__results-table {
      width: 100%;
      margin: 73px 0 0;
      table-layout: auto;
      tbody, thead {
          display: block;
      }
      thead {
          //position: fixed;
      }
      tbody {
          position: relative;
          height: 100%;
      }
  }
  //End Update

  .result_list.col9,
  .result-list.col9  {
    cursor: pointer;
    padding: 0;
    overflow: auto;
    display: inline-block;

    //Table
    table.content__results-table,
    table.listing,
    .listing.full-width {
    margin-bottom: 2em;
        tr:first-child {
            border-top: none;
        }
        th, td {
            border-collapse:collapse;
        }
      th {
        &:first-child {
          padding: 5px 0 5px 10px;
        }
      }
      td {
        padding: 5px 10px;
        vertical-align: baseline;
        &:first-child {
          padding: 5px 0 5px 10px;
        }
        img {
          vertical-align: text-top;
        }
      }
    }
  }
}
@media screen and (min-width: 781px) {
  .content-wrapper {
    width: 87.3%;
    .result_list.col9,
    .result-list.col9 {
      width: 100%;
    }
  }
}

@media screen and (min-width: 50em)  {
  .content-wrapper {
    .result_list.col9,
    .result-list.col9 {
      float: left;
    }
  }
}
@media screen and (min-width: 1200px) {
  //Content
  .content-wrapper {
    .result_list.col9,
    .result-list.col9 {
      width: 80%;
      //Table
      table.content__results-table,
      table.listing,
      .listing.full-width {
        th {
          &:first-child {
            padding: 5px 0 5px 10px;
          }
        }
        td {
          padding: 5px 10px;
          &:first-child {
            padding: 5px 0 5px 10px;
          }
        }
      }
    }
  }
}
