/**
Take Note:
Separate smart styles to states folder
*/
.grid-teaser {
  overflow: auto;
}
.grid-teaser-list  {
  display: block;
  padding: 0 15px;
}
.grid-teaser-list__item {
  list-style-type: none;
  padding: 10px 0;
  float: left;
}

.grid-teaser__thumbnail {}
.grid-teaser__thumbnail-link {
  display: block;
}


.grid-teaser__title {
  //text-align: right;
}
.grid-teaser__title-link {
  color: gray;
}
.gird-teaser__subtitle {
  //text-align: right;
}
