.call-to-action__nav-item-text {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  color: $springster-purple;
  font-size: $font-x-small;
  font-weight: bold;
  position: relative;
  display: block;
  text-align: center;
}
.call-to-action__nav-item-text--article-comments {
  padding-bottom: 15px;
}
.call-to-action__nav-item-text--right {
  &:after {
    background-image: url(/static/img/icons/next.svg),url(/static/img/icons/next@2x.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 80%;
    content:"";
    position: absolute;
    margin: 0 0 0 10px;
    width: 24px;
    height: 25px;
  }
}
.call-to-action__nav-item-text--left {
  &:before {
    background-image: url(/static/img/icons/back.svg),url(/static/img/icons/back@2x.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
    position: absolute;
    left: 0;
    margin: 0 0 0 10px;
    width: 24px;
    height: 24px;
  }
}
.call-to-action--wide-back {
  padding: 10px;
  background-color: $springster-purple-light;
  font-size: $font-x-small;
}

.call-to-action__button {
  cursor: pointer;
  text-align: center;
  display: block;
  width: 95%;
  border-radius: 5px;
}
.call-to-action__button {
  white-space: normal;
}
.call-to-action__button--primary,
.call-to-action__button--secondary  {
  background-image: url('/static/img/buttons/button-sprite.png');
  background-size: 1870px 334px;
}
.call-to-action__button--primary {
  background-color: $springster-purple;
  background-position: -792px -123px; //What should be doen with these
  border: none;
  color: #fff;
  font-size: $font-small;
  font-weight: bold;
  margin: 16px auto;
  height: 40px;
}
.call-to-action__button--secondary {
  background-color: #D7DBDD;
  background-position: -1728px -260px;
  color: $springster-purple;
  margin: 16px auto;
  height: 42px;
}

.call-to-action__button-text {
  cursor: pointer;
  font-size: $font-small;
  color: #fff;
  padding: 8px 0 0;
  display: block;
  border-radius: 5px;
}
input.call-to-action__button-text {
  border: 0;
  display: block;
}
.call-to-action__button-text--primary,
.call-to-action__button-text--secondary,
.call-to-action__button-text--hyperlink {
  color: #fff;
  background-color: $springster-purple;
}
.call-to-action__button-text--disabled {
  color: $cool-grey;
}
.call-to-action__button-text--hyperlink {
  background: transparent;
  font-size: $font-x-small;
  color: $springster-purple;
  text-transform: uppercase;
  text-decoration: underline;
}

.call-to-action__button--yellow {
  background: url('/static/img/buttons/button-yellow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 50%;
  margin: 8px;
  width: 95%;
}
.call-to-action__button-text--yellow {
  color: $springster-purple;
  background-color: $sunny-yellow;
  padding: 8px 0;
}
