.menu-list {
  margin: 0 auto;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  @media screen and (min-width:320px) {
    margin: 0;
    padding: 0 0 0 30px;
  }
}
.menu-list__item  {
  display: inline-block;
  border: none;
  padding: 5px 0;
  font-size: 14px;
}

.menu-list__anchor {
  color: #07292F;
  text-transform: uppercase;
}
#search,
#profile_register,
#menu  {
  .menu-list__anchor {
    width: 21px;
    height: 21px;
    @media screen and (min-width: 320px) {
      text-indent: -99em;
    }
  }
}

#menu > .menu-list__anchor {
  @media screen and (min-width: 320px) {
    background:  url('../images/icons/menu.svg') no-repeat 0 0 / auto 100%;
  }
}

#search > .menu-list__anchor {
  padding: 0;
  @media screen and (min-width: 320px) {
    background:  url('../images/icons/search.svg') no-repeat 0 0 / auto 100%;
  }
}

#profile_register > .menu-list__anchor {
  @media screen and (min-width: 320px) {
    background:  url('../images/icons/user.svg') no-repeat 0 0 / auto 100%;
  }
}
