{% load wagtailcore_tags core_tags i18n %}
<div class="copyright">
  <p class="copyright__footer-copy" >&copy;
    {% now "Y" %} Springster. {% trans "All Rights Reserved." %}
    {% if settings.profiles.UserProfilesSettings.terms_and_conditions %}
    <a href="{% pageurl settings.profiles.UserProfilesSettings.terms_and_conditions %}">
      {% trans "Terms &amp; Conditions" %}
    </a>
    {% endif %}
  </p>
  {% if settings.gem.GemSettings.show_partner_credit %}
    <a href="{{settings.gem.GemSettings.partner_credit_link}}">
      {{settings.gem.GemSettings.partner_credit_description}}
    </a>
  {% endif %}
</div>
