{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
  <div class="article-teaser">
  <h1 class="article-teaser__heading">{{ tag.title }}</h1>
    <ul class="teaser-stacklist">
    {% for each_article in object_list %}
    <li class="teaser-stacklist__item">
      {% if each_article.image %}
      <a href="{% pageurl each_article %}" class="base-teaser__thumbnail-link">
        {% image each_article.image fill-96x96 as teaser_thumbnail %}
        <img src="{{ teaser_thumbnail.url }}" class="base-teaser__thumbnail" />
      </a>
      {% endif %}
      <div class="teaser-stacklist__item--content">
        <h3 class="base-teaser__title">
          <a href="{% pageurl each_article %}" class="base-teaser__title-link">
          {{ each_article.title }}</a>
        </h3>
        {% if each_article.subtitle %}
          <p class="base-teaser__subtitle">{{ each_article.subtitle }}</p>
        {% endif %}

      </div>
    </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
