
{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <h1 class="heading heading--xx-large">{{self.title}}</h1>
    <p>{{self.subtitle}}</p>
    {% if self.image %}
    <a href="{% pageurl article %}" class="promoted-article-list__anchor">
      {% image self.image width-240 %}
    </a>
    {% endif %}

  {% social_media_article %}
  {% include "patterns/basics/article-content.html" %}

  {% if settings.core.SiteSettings.enable_clickable_tags %}
      {% for tag in self.tags_list %}
          <a href="{% url 'tags_list' tag %}">{{tag}}</a>
      {% endfor%}
  {% endif %}

{% endblock %}
