{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}
{% block content %}
  <div class="article-teaser">
  <h1 class="article-teaser__heading">{{ tag }}</h1>
    <ul class="teaser-stacklist">
    {% for article in object_list %}
    <li class="teaser-stacklist__item">
      {% include "patterns/basics/article-teasers/sp_variations/teaser-thumbnail.html" with layouttype="base" %}
      <div class="teaser-stacklist__item--content">
        {% include "patterns/basics/article-teasers/sp_variations/teaser-title.html" with layouttype="base" %}
      </div>
    </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
