{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="articles  articles--{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="heading headin--xx-large heading--article">{{self.title}}</h1>
  <p class="article__description">{{self.subtitle}}</p>
  {% include "patterns/basics/banner.html" %}
  {% social_media_article %}
  {% include "patterns/basics/article-content.html" %}
  {% include "patterns/basics/article-tags.html" %}
</div>

{% endblock %}
