{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="footer-articles">
  <h1 class="heading headin--xx-large">{{self.title}}</h1>
  <p class="article__description">{{self.subtitle}}</p>

  {% include "patterns/basics/banner.html" %}
  <article>
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
        <h3 class="heading headin--large">{{ block.value }}</h3>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-320 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol class="default-ordered-list">
        {% for item in block.value %}
          <li class="default-ordered-list__item">{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
  </article>
</div>

{% endblock %}
