{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="footer-articles">
  <h1 class="heading headin--xx-large">{{self.title}}</h1>
  <p class="article__description">{{self.subtitle}}</p>
  {% block banner %}
    {% include "patterns/basics/banner.html" %}
  {% endblock %}

  {% block article-content %}
    {% include "patterns/basics/article-content.html" %}
  {% endblock %}
</div>
{% endblock %}
