
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <h1 class="heading heading--xx-large">{{self.title}}</h3>
  <p>{{self.subtitle}}</p>
  {% if self.image %}
  <a href="{% pageurl article %}" class="promoted-article-list__anchor">
      {% image self.image width-240 %}
  </a>
  {% endif %}
  {% include "patterns/basics/article-content.html" %}
{% endblock %}
