{% extends "base.html" %}

{% load static core_tags wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}
{% endblock %}

{% block content %}
  <div class="categories">

      <h2 class="list-header">
        {% if self.image %}
          <a href="{% pageurl self %}">{% image self.image width-60 %}</a>
        {% endif %}
        {{self.title}}
      </h2>

      {% load_child_sections_for_section self as sections %}
      {% for section in sections %}
        {% include "patterns/basics/category.html" %}
            {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}
            {% if featured_articles %}
            {% for article in featured_articles %}
              {% include "patterns/basics/article-list.html" %}
            {% endfor %}
            {% endif %}
      {% endfor %}

      {% load_child_articles_for_section self as articles %}
      {% for article in articles %}
        {% include "patterns/basics/article-list.html" %}
      {% endfor %}

      {% if articles %}
        {% include "patterns/basics/pagination-counter.html" %}
      {% endif %}

  </div>
{% endblock %}
