.color-chip {
  display: inline-block;;
  border-top-width: 8em;
  border-top-style: solid;
  border-bottom-width: 0;
  border-bottom-style: solid;
  background-color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 16px;
  margin-bottom: 32px;
  text-align: center;
}

.color-chip__name {
  text-transform: capitalize;
}
.color-chip__color {
  font-weight: 400;
}
