@each $name, $color in $color_scheme {
  .section-listing--#{$name} {
    .section-listing__title { background: none; }
    .section-listing__link { color: $color; }
  }

  .section-listing__theme-bg--#{$name} {
    .section-listing__theme-bg-title { background: $color; }
    .section-listing__theme-bg-link { color: #fff; }
  }

  .subsection-listing__theme-bg--#{$name} {
    .section-listing__theme-subsection_bg-title { background: rgba($color,0.4); }
    .section-listing__theme-subsection_bg-link { color: $color; }
  }
}
