{% load wagtailcore_tags wagtailimages_tags core_tags %}

{% load_child_articles_for_section self as articles %}

{% for article in articles %}
  <ul class="list-block">
   <li>
     {% if article.image %}
     <a href="{% pageurl article %}">{% image article.image width-60 %}</a>
     {% endif %}
     <h3><a href="{% pageurl article %}">{{article.title}}</a></h3>
     <p>{{article.subtitle}}</p>
   </li>
  </ul>
{% endfor %}

{% if articles %}
  <div class="step-links l-indent l-indent--tall">
   {% if articles_paginated.has_previous %}
       <a href="?p={{ articles_paginated.previous_page_number }}">&larr;</a>
   {% endif %}
   <span class="current">
       Page {{ articles_paginated.number }} of {{ articles_paginated.paginator.num_pages }}
   </span>
   {% if articles_paginated.has_next %}
       <a href="?p={{ articles_paginated.next_page_number }}">&rarr;</a>
   {% endif %}
  </div>
{% endif %}
