{% load wagtailcore_tags wagtailimages_tags core_tags static %}
{% load_child_sections_for_section self as sections %}
<div class="section-listing section-listing_theme-headings{{self.get_effective_extra_style_hints}}">
<!-- Can have breadcrumbs -->
<h1 class="heading heading--x-large section-listing__title-theme-headings">
  <a href="{% pageurl self %}" class="section-listing__link-theme-headings">
    {{self.title}}</a>
</h1>
 {% for section in sections %}
    <ul class="promoted-article-list promoted-article-list--theme-headings">
      <li class="promoted-article-list__item promoted-article-list__item--theme-headings">
        <!-- Remove Section Description-->
       {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}
       {% if featured_articles %}
         {% for article in featured_articles %}
          <a href="{% pageurl article %}" class="promoted-article-list__anchor promoted-article-list__anchor--theme-headings">
            <h5 class="heading heading--x-small promoted-article__title--theme-headings">
              {{article.title}}
            </h5>
          </a>
         {% endfor %}
       {% endif %}
      </li>
   </ul>
 {% endfor %}


 {% load_child_articles_for_section self as articles %}
 <!-- Load Subsection heading -->
   <h1 class="heading heading--x-large section-listing__title-theme-headings">
     <a href="{% pageurl self %}" class="section-listing__link-theme-headings">
       {{self.title}}</a>
   </h1>

   <ul class="promoted-article-list promoted-article-list--theme-headings">
    {% for article in articles %}
    <li class="promoted-article-list__item promoted-article-list__item--theme-headings">
      <a href="{% pageurl article %}" class="promoted-article-list__anchor promoted-article-list__anchor--theme-headings">
        <h5 class="heading heading--x-small promoted-article__title--theme-headings">
          {{article.title}}
        </h5>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
