{% load i18n wagtailsettings_tags %}
{% block content %}
<div class="profiles-join-banner">
  <div class="profiles-join-banner__icon"></div>
  <div class="profiles-join-banner__content">
    <div class="heading heading__subheading-alt">
      <h4>{% trans "Share your opinions and stories, take polls, win fun prizes." %}</h4>
    </div>
    <a href="{% url 'molo.profiles:user_register' %}" class="call-to-action__button call-to-action__button--yellow">
      <span class="call-to-action__button-text call-to-action__button-text--yellow">{% trans "Join" %}</span>
    </a>
  </div>
</div>
{% endblock %}
