
{% load wagtailcore_tags wagtailimages_tags i18n %}

{% block article %}
  <ul class="promoted-article-list promoted-article-list--{{type}}">
    <li class="promoted-article-list__item  {% if forloop.first %} promoted-article-list__item--hero{% endif %}">

      {% if article.image %}
      <a href="{% pageurl article %}" class="promoted-article-list__anchor">
      {% block image %}
        {% if forloop.first %}
          {% include "patterns/basics/article-image.html" with curve="semi-round" %}
        {% else %}
          {% include "patterns/basics/article-thumbnail.html" with curve="none" %}
        {% endif %}
      {% endblock %}
      </a>
      {% endif %}
      <a href="{% pageurl article %}" class="promoted-article-list__anchor">
        <h2 class="heading heading--x-large">
          {{article.title}}
        </h2>
      </a>
      <p>{{article.subtitle}}</p>

    </li>
  </ul>
{% endblock %}
