{% load wagtailcore_tags wagtailimages_tags core_tags static %}
{% block category %}
  <div class="category__list">
    {% if section.image %}
      <a href="{% pageurl section %}" class="category__image-link">
        {% image section.image width-60 %}
      </a>
    {% endif %}

    <h1 class="heading heading--xx-large category__title">
      <a href="{% pageurl section %}" class="category__link">{{section.title}}</a>
    </h1>
    {% if section.description %}
      <p class="category__description">
        {{section.description}}
      </p>
    {% endif %}
  </div>
{% endblock %}
