{% load wagtailcore_tags wagtailimages_tags core_tags static %}

{% block category %}
  <div class="category__list category__list-{{type}}">
    {% if section.get_parent_section %}
      {% with sub_section=section.get_parent_section %}
        <h3 class="heading heading--large category__subcategory category__subcategory-{{type}}">
          <a href="{% pageurl self.get_parent_section %}" class="category__link category__link-{{type}}">
            {{sub_section.title}
          </a>
        </h3>
      {% endwith %}
    {% endif %}

    <h1 class="heading heading--xx-large category__title category__title-{{type}}">
      <a href="{% pageurl section %}" class="category__link category__link-{{type}}">{{section.title}}</a>
    </h1>
  </div>
{% endblock %}
