{% load i18n %}
<ul class="menu-list">
  <li id="profile_register" class="menu-list__item">
    <a  href="#" class="menu-list__anchor">{% trans "Join" %}</a>
  </li>
  <li id="search" class="menu-list__item">
    <a href="#search__input" class="menu-list__anchor">{% trans "Search" %}</a>
  </li>
  <li id="menu" class="menu-list__item">
    <a href="#section_menu" class="menu-list__anchor">{% trans "Menu" %}</a>
  </li>
</ul>
<input id="" class="search-toggling__button" type="checkbox"/>
<!-- Include search page -->
