{% block menu %}

  {% load i18n %}
    {% if self.get_verbose_name|slugify  == "main" %}

        <ul class="menu-list menu-list--toggle menu-list--{{class}}">
          <li class="menu-list__item">
            <a  href="#" class="menu-list__anchor">{% trans "Sign up" %}</a>
          </li>
          <li class="menu-list__item">
            <a href="#section_menu" class="menu-list__anchor">{% trans "Menu" %}</a>
          </li>
        </ul>
        {% block search %}
          {% if languages %}
            {% include "search/search_block.html" %}
          {% endif %}
        {% endblock %}

    {% else %}

        <ul class="menu-list menu-list--toggle menu-list--{{class}}">
            <li id="search" class="menu-list__item">
              <label class="menu-list__anchor" for="search-toggle__button">{% trans "Search" %}</label>
            </li>
          <li class="menu-list__item">
            <a href="#section_menu" class="menu-list__anchor">{% trans "Menu" %}</a>
          </li>
        </ul>
        <input id="search-toggle__button" type="checkbox" value="Search"/>
        {% block search-toggle %}
          {% if languages %}
            {% include "search/search_block.html" %}
          {% endif %}
        {% endblock %}

    {% endif %}

{% endblock %}
