
{% load wagtailcore_tags  core_tags i18n %}

{% block section_menu %}

{% load_sections as sections %}
<div class="navigation">
  <ul class="nav-list nav-list--vertical">
    {% for section in sections %}
      <li class="nav-list__item nav-list__item--vertical">
        <a href="" class="nav-list__anchor nav-list__anchor--vertical">
          {{section.title}}
        </a>
        <span class="nav-list__anchor-desc nav-list__anchor-desc--vertical">{{section.description}}</span>
      </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}
