{% load wagtailcore_tags  core_tags i18n %}

{% block section_menu %}

{% load_sections as sections %}
<div class="navigation navigation--horizontal">
  <ul class="nav-menu-list nav-menu-list--horizontal">
    {% for section in sections %}
      <li class="nav-menu-list__item nav-menu-list__item--horizontal">
        <a href="" class="nav-menu-list__anchor nav-menu-list__anchor--horizontal">
          {{section.title}}
          {{section.description}}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
