{% load wagtailcore_tags core_tags i18n %}
{% block load_tags_for_homepage %}
{% if tag %}
<div class="carousel-teaser">
  <h1 class="carousel-teaser__heading">
    <a href="{% pageurl tag %}" class="carousel-teaser__heading-link">{{tag.title}}</a>
  </h1>
  <ul class="carousel-teaser-list">
    {% for article in tag_articles %}
      <li class="carousel-teaser-list__item">
        {% include "patterns/basics/article-teasers/sp_variations/carousel-teaser-image.html" %}
        {% include "patterns/basics/article-teasers/sp_variations/carousel-teaser-title.html" %}
        {% load_tags_for_article article as tags %}
        <ul class="teaser-stacklist-tags">
          {% for tag in tags %}
          <li class="teaser-stacklist-tags__item">
            <a href="{% pageurl tag %}" class="teaser-stacklist-tags__anchor">{{ tag.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  {% include "patterns/basics/buttons/sp_variations/text-tag-dir-arrow_button.html" with direction="right" %}
</div>
{% endif %}
{% endblock %}
