.icon-avatar { background-image: url('png/avatar.png'); background-repeat: no-repeat; }

.icon-back { background-image: url('png/back.png'); background-repeat: no-repeat; }

.icon-bubble { background-image: url('png/bubble.png'); background-repeat: no-repeat; }

.icon-chart-white { background-image: url('png/chart-white.png'); background-repeat: no-repeat; }

.icon-chart { background-image: url('png/chart.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-chevron-down { background-image: url('png/chevron-down.png'); background-repeat: no-repeat; }

.icon-chevron-up { background-image: url('png/chevron-up.png'); background-repeat: no-repeat; }

.icon-close-mint { background-image: url('png/close-mint.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-heart { background-image: url('png/heart.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('png/instagram.png'); background-repeat: no-repeat; }

.icon-lang_chevron { background-image: url('png/lang_chevron.png'); background-repeat: no-repeat; }

.icon-location-white { background-image: url('png/location-white.png'); background-repeat: no-repeat; }

.icon-loop2-white { background-image: url('png/loop2-white.png'); background-repeat: no-repeat; }

.icon-loop2 { background-image: url('png/loop2.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-next-black { background-image: url('png/next-black.png'); background-repeat: no-repeat; }

.icon-next-white { background-image: url('png/next-white.png'); background-repeat: no-repeat; }

.icon-next { background-image: url('png/next.png'); background-repeat: no-repeat; }

.icon-open { background-image: url('png/open.png'); background-repeat: no-repeat; }

.icon-profiles { background-image: url('png/profiles.png'); background-repeat: no-repeat; }

.icon-search-mint { background-image: url('png/search-mint.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-search_spr { background-image: url('png/search_spr.png'); background-repeat: no-repeat; }

.icon-search_white { background-image: url('png/search_white.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-up-arrow { background-image: url('png/up-arrow.png'); background-repeat: no-repeat; }

.icon-up { background-image: url('png/up.png'); background-repeat: no-repeat; }

.icon-user-check { background-image: url('png/user-check.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

.icon-your-answer { background-image: url('png/your-answer.png'); background-repeat: no-repeat; }

