.polls-image-banner {
  .poll__inner-image-banner {
    padding: 0 0 10px 0;
    @media screen and (min-width: 320px) {
      padding: 0 10px 10px;
    }
  }

  .heading--image-banner {
    background: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: 10px 0;
  }

  legend {
    color: #FE7A43;
    padding: 10px 0;
    @media screen and (min-width: 320px) {
      width: 100%;
      text-align: center;
      font-size: 25px;
      padding: 10px 0 20px;
    }
  }

}

.poll__banner {
   text-align: left;
   padding: 20px 0 0;
  @media screen and (min-width: 320px) {
    text-align: center;
    background: #FE7A43;
    padding: 20px 0;
  }
}

.poll-banner-image {
  width: 35px;
}

.heading--poll-banner  {
  text-transform: capitalize;
  font-size: 15px;
  a {
    color: #000;
    text-decoration: underline;;
    @media screen and (min-width: 320px) {
      color: #fff;
      text-decoration: none;
    }
  }
}

.call-to-action__item--poll-image-summit {
  @media screen and (min-width: 320px) {
    background: #FE7A43;
    font-weight: bold;
  }
}
