{% raw %}
{% load mote_tags %}
{% mask element.json.data.Menu as "menu" %}
<ul class="menu-list menu-list--toggle">
  {% for item in menu.menu_list %}
    <li id="{{item.id}}" class="menu-list__item menu-list__item--toggle">
      <a href="{{item.href}}" class="menu-list__anchor menu-list__anchor-toggle">{{item.name}}</a>
    </li>
  {% endfor %}
  <li id="search" class="menu-list__item menu-list__item--toggle">
    <label class="menu-list__anchor menu-list__anchor-toggle" for="search-toggle__button">
      Search</label>
  </li>
  <input id="search-toggle__button" type="checkbox" value="Search"/>
  {% include "search/search_block.html" with class="toggle" %}

</ul>
{% endraw %}
