{% block header %}
  <div class="header">
    <div class="header__menu">
      {% block logo %}
        {% include "patterns/basics/logo.html" with class="left"%}
      {% endblock %}

      {% block menu %}
        {% include "patterns/basics/menu-min.html" with class="left"%}
      {% endblock %}
    </div>
  </div>
  {% if self.get_verbose_name|slugify  == "main" %}
    {% block languages %}
      {% include "patterns/basics/languages/language-list-text_decorated.html" %}
    {% endblock  %}
  {% endif %}
{% endblock %}
