.language {
    &-list {
        $block: unquote("#{&}");
        &--text-decorated-center {
            text-align: center;
        }
        &__item--text-decorated {
          font-size: 13px;
          padding: 0 0 5px 0;
          &:hover {
            color: #00b8ae;
          }
          &:first-child {
            display: none;
          }
        }
        &__anchor-text-decorated {
          font-size: 13px;
          &:hover, .is-active {
            color: #00b8ae;
          }
        }
        #{$block}--pipe-center {
            #{$block}__item--standard-center {
              margin: 0;
            }
        }

        &--text-decorated {
            &__title {
              display: none;
              font-size: 16px;
              padding: 0 10px 0 0;
              &:after {
                content: ":";
              }

              &--footer {
                display: block;
              }
            }
            &-footer {
              &:hover {
                color: #00b8ae;
                text-decoration: underline;
              }
              &:first-child {
                display: block;
              }
            }
        }

        &__anchor-text-decorated-footer {
            &:hover, .is-active {
            color: #00b8ae;
            text-decoration: underline;
          }
        }
    }
}
