.languages {
  background-color: #f0f0f0;
  width: 100%;
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    &--standard {
      display: block;
      border-bottom: 1px solid #DDDDDD;
      text-align: right;
    }
    &--right {
      text-align: right;
      .language-list__item:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &__item {
    display: inline-block;
    &--standard {
      color: #f7a11a;
      display: inline-block;
      font-size: 13px;
      &:after {
        color: #ddd;
        content: "|";
        padding: 0 3px;
        display: inline-block;
      }
      &:last-child:after {
        content: "";
      }
    }
  }

  &__anchor {
    color: #5a5d5e;
    .is-active {
      text-decoration: underline;
    }
    &--standard {
      color: #f7a11a;
      font-size: 13px;
      .is-active {
        text-decoration: underline;
        color: #5a5d5e;
      }
    }
    &--uppercase {
      text-transform: uppercase;
    }
    &--capitalize {
      text-transform: capitalize;
    }
  }
}
