.language {
    &-list {
        &--standard-center {
          text-align: center;
        }
        &__anchor-standard-center {
          color: #5a5d5e;
          font-size: 16px;
        }
    }
    &__item {
        &--standard-center {
          color: #5a5d5e;
          display: inline-block;
          font-size: 16px;
          margin: 0;
          &:after {
            color: #ddd;
            content: "|";
            padding: 0 3px;
            display: inline-block;
          }
          &:last-child {
            &:after {
              content: " ";
              display: none;
            }
          }
        }
    }
}
