{% raw %}
{% load mote_tags %}
<div class="article-teaser article-teaser--mote">
  <ul class="teaser-stacklist">
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
    <li class="teaser-stacklist__item">
      {% render_element element.aspect.basics.article-teaser.base-teaser-thumbnail %}
      {% render_element element.aspect.basics.article-teaser %}
    </li>
  </ul>
</div>
{% endraw %}
