.hallotoolbar{
  margin-top: -1em;
  margin-left: 0; 
}
.hallotoolbar.affixed {
    margin-top: 0; 
}

#subtitle_markdown{
    overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    height: auto;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    font-family: Open Sans, Arial, sans-serif;
    border: 1px solid #e6e6e6;
    padding: 0.9em 1.2em;
    background-color: #fafafa;
    -webkit-appearance: none;
    color: #333333;
    font-size: 1.2em;
    font-weight: 300;
    outline: none;
    overflow: hidden;
    word-wrap: break-word;
    resize: horizontal;
    min-height: 50px;
}