
.category__list {
  padding: 10px 0;
}
.category__title {
  margin: 0;
  color: #252627;
  padding: 0 15px;
  display: inline-block;
}
.category__subcategory {
  margin: 0;
  color: #017AF5;
  text-transform: capitalize;
  padding: 5px 0;
}
.category__link {
  color: #252627;
  vertical-align: middle;
  display: inline-block;
}
.category__description {
  color: #5B5E5F;
  margin-top: 0;
  padding: 0 15px;
}
.category__image-link {
  vertical-align: middle;
  padding: 0 0 0 15px;
  @media screen and (min-width: 320px) {
    border-radius: 100%;
    width: 20%;
  }
  img {
    vertical-align: middle;
    display: inline-block;
  }
}


.category__list-babycenter {
  background: green;
  color: #fff;
}
.category__title-babycenter,
.category__link-babycenter {
  color: #fff;
}
.promoted-article-list--babycenter {
  h1,h2,h3 {
    margin: 0;
  }
  .promoted-article-list__anchor {
    padding: 0 0 0 15px;
    display: inline-block;
    vertical-align: top;
  }
  .promoted-article-list__desc {
    display: inline-block;
    vertical-align: bottom;
  }
}
