
{% load wagtailcore_tags wagtailimages_tags %}

{% if bannerpages %}
<div class="banner">
{% for bannerpage in bannerpages %}
  {% if bannerpage.banner %}
    {% if bannerpage.banner_link_page %}
      <a href="{% pageurl bannerpage.banner_link_page %}" class="banner__item-link">
        {% image bannerpage.banner width-320 %}
      </a>
    {% elif bannerpage.external_link %}
      <a href="{{ bannerpage.external_link }}" class="banner__item-link">
        {% image bannerpage.banner width-320 %}</a>
    {% else %}
      {% image bannerpage.banner width-320 %}
    {% endif %}
	{% endif %}
{% endfor%}
</div>
{% endif %}
