{% load wagtailcore_tags wagtailimages_tags core_tags %}

{% if sections %}
<div class="featured-category featured-category--{{self.get_effective_extra_style_hints}}">
{% for section in sections %}

  {% load_descendant_articles_for_section section featured_in_homepage=True as featured_articles %}
  {% if featured_articles %}
    {% for article in featured_articles %}

      {% include "patterns/basics/category-with-image.html" %}
      {% include "patterns/basics/article-list.html" %}

    {% endfor %}
  {% endif %}
{% endfor %}
</div>
{% endif %}
