{% load wagtailcore_tags wagtailimages_tags core_tags i18n %}
{% get_translation self.get_parent_section as section %}
  <h2 class="heading heading--large heading--section-article{{section.get_effective_extra_style_hints}}">
    <a href="{% pageurl section %}" class="heading--section-article__link">{{section.title}}</a>
  </h2>
  <span class="article-back">
    <a href="{% pageurl section %}" class="article-back__anchor article-back__anchor{{section.get_effective_extra_style_hints}}">Back</a>
  </span>
  <h1 class="heading heading--large heading--article">{{self.title}}</h1>
  {% if self.image %}
    <a href="{% pageurl self %}" class="promoted-article-list__anchor">
      {% image self.image width-280 class="promoted-article-list__image"%}
    </a>
  {% endif %}

  <p class="article__desc">{{self.subtitle}}</p>

<article>
  {% for block in self.body %}
    {% if block.block_type == 'heading' %}
      <h3 class="heading heading--large">{{ block.value }}</h3>

    {% elif block.block_type == 'image' %}
      {% image block.value width-320 %}

    {% elif block.block_type == 'numbered_list' %}
      <ol class="ordered-list">
      {% for item in block.value %}
        <li class="ordered-list__item">{{ item|handle_markdown }}</li>
      {% endfor %}
      </ol>

    {% elif block.block_type == 'list' %}
      <ul class="unordered-list">
      {% for item in block.value %}
        <li class="unordered-list__item">{{ item|handle_markdown }}</li>
      {% endfor %}
    </ul>
    {% else %}
      {% if not block.block_type == 'page'%}
        {{ block }}
      {% endif %}
    {% endif %}
  {% endfor %}
  <p class="article-page__publish-date">{{self.first_published_at | date:"j F Y"}}</p>
</article>
{% with section=self.get_parent_section %}
  <h3 class="heading heading--large featured-page-list__heading featured-page-list__heading{{ section.get_effective_extra_style_hints }}">
    {% trans "More Information" %}
  </h3>
  <ul class="featured-page-list featured-page-list{{ section.get_effective_extra_style_hints }}">
  {% if self.body %}
    {% for block in self.body %}
      {% if block.block_type == 'page'  %}
        <li class="featured-page-list__item">
            <a href="{% pageurl block.value %}" class="featured-page-list__anchor">
              {{ block.value }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
    <li class="featured-page-list__item featured-page-list__item-more">
      <a href="{% pageurl section %}" class="featured-page-list__anchor">{% trans "More" %}</a>
    </li>
  </ul>
{% endwith %}
