{% raw %}
{% extends "mote/element/index.html" %}
{% load mote_tags %}
{% block codeblock %}
<div class="sg-code-block">
    <h4 class="title">
        Main Banner image
    </h4>
    <div class="description">
        <p>Banner image is an image which can link to a page;
        It is usually positioned at the top of the homepage below the header of the page.
        However the position (or order) within the homepage of the banner is decided beforehand by the programmers.</p>
        <h5>Questions:</h5>
        <p>Is it just 1 banner at a time?</p>
        <p>Can we do text?</p>
    </div>
    <div class="code-example">
        <pre>
            <code class="language-markup">
                <xmp>
                  {% render_element element %}
                </xmp>
            </code>
        </pre>
    </div>
</div>
{% endblock %}
{% endraw %}
