{% extends "mote/base.html" %}
{% load staticfiles %}
{% block hero %}
    <div class="background"></div>
    <div class="foreground">
       <h3>Molo Design System</h3>
        <h1>Markup and Style Patterns</h1>
    </div>
{% endblock %}
{% block menu-desc %}
{% endblock %}
{% block menu %}
  <ul role="menu" class="vertical tier-1" id="sidebar-nav">
  {% for pattern in aspect.patterns %}
    <li role="menuitem">
      {% url "mote:pattern" project=aspect.project.id aspect=aspect.id pattern=pattern.id as the_url%}
      <a href="{{ the_url }}" {% if request.path_info == the_url %}class="active"{% endif %}>{{ pattern.title }}</a>
      <ul role="menu" class="vertical tier-2">
          {% for element in pattern.elements %}
          <li role="menuitem">
              <a href="{% url "mote:element-index" project=aspect.project.id aspect=aspect.id pattern=pattern.id element=element.id %}">{{ element.title }}</a>
          </li>
          {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <h2 class="content__heading-large">Workflow Diagram</h2>
  <p>To really experience the full benefits of the design system we want to propose a new workflow that is not about designing pages but rather designing components.</p>
  <h4 class="content__heading-small">When a new feature that is not part of the Design System is requested 2 things can happen:</h4>
  <ul class="ordered-list">
    <li class="ordered-list__item">If it’s a simple feature the service designer might be able to take the component library and build the feature</li>
    <li class="ordered-list__item">If it’s more complicated the developer and designer might have to be pulled into the discussion earlier on in order to design the new feature</li>
  </ul>
  <p>BUT VERY IMPORTANT: Before a new feature is created it’s important to make sure that it’s not just a tweak to a current feature. In that case the feature can rather be altered to accommodate the adjustment and added to the Design System - remember to mark patterns that have been updated in the system so teammates can see.</p>

  <img src="{% static "images/New-Workflow.png" %}" width="100%" alt="Workflow" />
{% endblock %}
