{% extends "mote/base.html" %}
{% load staticfiles %}
{% block hero %}
  <div class="background"></div>
  <div class="foreground">
     <h3>Molo Design System</h3>
    <h1>Molo Core Design Principles</h1>
  </div>
{% endblock %}

{% block menu-desc %}
  <h5>Molo App:</h5>
{% endblock %}
{% block menu %}
  <ul role="menu" class="vertical tier-1" id="sidebar-nav">
    {% for aspect in project.aspects %}
      <li role="menuitem">
          <a href="{% url "mote:aspect" project=project.id aspect=aspect.id %}">{{ aspect.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
