{% extends "mote/base.html" %}
{% load staticfiles %}
{% block hero %}
  <div class="background"></div>
  <div class="foreground">
     <h3>Molo Design System</h3>
    <h1>Molo Core Design Patterns</h1>
  </div>
{% endblock %}

{% block menu-desc %}
  <h5>Molo App:</h5>
{% endblock %}
{% block menu %}
  <ul role="menu" class="vertical tier-1" id="sidebar-nav">
    {% for aspect in project.aspects %}
      <li role="menuitem">
          <a href="{% url "mote:aspect" project=project.id aspect=aspect.id %}">{{ aspect.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

  <div class="content__prk">
      <h2 class="content__heading-large">What is Accessibility?</h2>
      <h5 class="content__description">The Molo Design System enables accessible development by providing a set of semantically correct components, each with appropriate ARIA markup so they can be identified correctly.<br/><br/>
      This means properly identifying all form fields and buttons, providing text based alternatives for all images, videos, icons and SVGs, as well as building components that properly convey their identity.
      </h5>

      <h4 class="content__heading-small">Standards Compliant Markup:</h4>
      <p>The semantic markup in our components are based on W3C standards and industry best practices.</p>
      <h4 class="content__heading-small">Appropriate use of color:</h4>
      <p>We provide the basic combinations of text and their background colors for slow end feature phones and build our way up to smart-phones</p><br/><br/>

  </div>

{% endblock %}
