.logo {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  img {
    vertical-align: middle;
    width: 100%;
    @media screen and (min-width: 240px) {
      width: auto;
    }
  }
}
.logo--left {
  text-align: left;
}

.logo--center {
  text-align: center;
  display: block;
}
