
.language-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 15px;
}

.language-list__item {
  display: block;
}

.language-list__anchor {
  color: #5a5d5e;
}

.language-list__anchor-active {
  text-decoration: underline;
}
