$bg0: #fff;
$fg0: #666;
$bg1: #fafafa;
$border0: #e6e6e6;
$fg-primary: #fff;
$bg-primary: #43b1b0;
$bg-disabled: #d9d9d9;
$fg-disabled: #9a9a9a;
$bg-success: #a9f3a9;
$fg-success: #249124;
$border-success: #78e678;
