{% raw %}
{% load mote_tags %}
<div class="carousel-teaser">
  <ul class="carousel-teaser-list" style="display: block">
    <li class="carousel-teaser-list__item">
      {% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
      <div class="carousel-teaser__wrapper">
        <div class="carousel-teaser__content">
          {% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
        </div>
      </div>
    </li>
    <li class="carousel-teaser-list__item">
      {% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
      <div class="carousel-teaser__wrapper">
        <div class="carousel-teaser__content">
          {% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
        </div>
      </div>
    </li>
    <li class="carousel-teaser-list__item">
      {% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
      <div class="carousel-teaser__wrapper">
        <div class="carousel-teaser__content">
          {% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
        </div>
      </div>
    </li>
    <li class="carousel-teaser-list__item">
      {% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
      <div class="carousel-teaser__wrapper">
        <div class="carousel-teaser__content">
          {% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
        </div>
      </div>
    </li>
    <li class="carousel-teaser-list__item">
      {% render_element element.aspect.basics.article-teaser.carousel-teaser-image %}
      <div class="carousel-teaser__wrapper">
        <div class="carousel-teaser__content">
          {% render_element element.aspect.basics.article-teaser.carousel-teaser-title %}
        </div>
      </div>
    </li>
  </ul>
</div>
{% endraw %}
