{% raw %}
{% load mote_tags %}
{% mask element.json.data.FormInputs as "inputfields" %}
  {% for item in inputfields.defaultInputs %}
  <fieldset>
    <label>{{item.label}}</label>
    <input type="{{item.input}}" placeholder="{{item.placeholder}}" name="{{item.name}}" />
  </fieldset>
  {% endfor %}

  {% for item in inputfields.textarea %}
  <fieldset>
    <label>{{item.label}}</label>
    <textarea cols="{{item.cols}}"  rows="{{item.rows}}" maxlength="3000" name="{{item.name}}" placeholder="{{item.placeholder}}"></textarea>
  </fieldset>
  {% endfor %}
{% endraw %}
